<!-- <div>
  <ngx-datatable class="material" [rows]="rows" [columns]="columns" [headerHeight]="50" [rowHeight]="50"> </ngx-datatable>
</div> -->
<form>
  <input type="text" placeholder="Udt" id="udt" name="udt" #udt="ngModel" [(ngModel)]="UdeTrabajo" (change)="evento()">
  <input type="text" placeholder="Empresa" id="empresa" name="empresa" #empresa="ngModel"  [(ngModel)]="emp" (change)="evento()">
  <input type="text" placeholder="Ubicacion" id="ubicacion" name="ubicacion" #ubicacion="ngModel"  [(ngModel)]="ub" (change)="evento()">
</form>
<div>
  <div style="float:left;width:75%">
    <ngx-datatable
      class="material"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
    >
      <ngx-datatable-column *ngFor="let col of columns" [name]="col.name"> </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="selected-column">
    <h4>Available Columns</h4>
    <ul>
      <li *ngFor="let col of allColumns">
        <input type="checkbox" [id]="col.name" (click)="toggle(col)" [checked]="isChecked(col)" />
        <label [attr.for]="col.name">{{ col.name }}</label>
      </li>
    </ul>
  </div>
</div>